html,body {
    height: 100%;
}
header {
    background-color: #159;
    background-image: url("https://picsum.photos/id/46/1600/800");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
/* header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
header.row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 100px;
}
header p {
    font-size: 24px;
}
/* about */
#about {
    padding-top: 150px;
    padding-bottom: 150px;
}
#about h2 {
    margin: 20px 0;
}
#about p {
    margin: 20px 0;
    padding: 0 15px;
}
#about .icon {
    color: #ff4b5c;
}
/* service */
.service-top {
    background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-center {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);    padding-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-bottom {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}
    
#service .row {
    align-items: center;
}