html,body {
    height: 100%;
}
header {
    background-color: #159;
    background-image: url("https://picsum.photos/id/46/1600/800");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
/* header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
header.row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 100px;
}
header p {
    font-size: 24px;
}
/* about */
#about {
    padding-top: 150px;
    padding-bottom: 150px;
}
#about h2 {
    margin: 20px 0;
}
#about p {
    padding: 0 15px;
}
#about .icon {
    color: #ff4b5c;
}
/* service */
.service-top {
    background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-center {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);    padding-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-bottom {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    padding-top: 100px;
    padding-bottom: 100px;
}
    
#service .row {
    align-items: center;
}
#service h2 {
    font-size: 32px;
}

/* contact */
#contact {
    padding-top: 150px;
    padding-bottom: 150px;
}
#contact h2 {
    font-size: 36px;
}
#contact.row {
    align-items: center;
}
.form-group {
    margin-bottom: 25px;
}
.form-control {
    width: 100%;
    border: 1px solid #7e7e7e;
    padding: 12px;
    border-radius: 5px;
    outline: 0;
    transition: .3s;
}
.form-control:focus {
    border-color: #ff4b5c;
    background-color: #ffccd1;
}
/* footer */
footer {
    background-color: #222222;
    color: #eee;
    font-size: 14px;
}
footer a {
    color: #eee;
    margin: 0 5px;
}