<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .red {
            color: #f00;
        }
        .green {
            color: #5eff00
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-bind:class="titleColor">{{ title }}</h1>
        <p>
            {{ content }}
        </p>
        <div>
            {{ books }}
        </div>
        <ul>
            <li v-for=" (book,idx) in books ">
                {{ book }} / {{ idx }}
            </li>
        </ul>
        <ul>
            <li v-for=" (book,idx) of books ">
                {{ book }} / {{ idx }}
            </li>
        </ul>
        <a v-bind:href="link">Yahoo</a>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title: 'Hello VUE!',
                    content: '12345 上山打老虎',
                    link: 'https://tw.yahoo.com',
                    titleColor: 'green',
                    books:[
                        "第一次學影片調色調光就上手",
                        "Python 資料可視化之美：極專業圖表製作高手書 (全彩印刷)",
                        "再強一點：用 Go語言完成六個大型專案",
                        "從 Hooks 開始，讓你的網頁 React 起來（iT邦幫忙鐵人賽系列書）",
                        "最親切的 SQL 入門教室",
                    ]
                }
            }
        }).mount('#app');
        // const app = Vue.createApp({
        //     data:function(){
        //         return {
        //             title: 'Hello VUE!',
        //             content: '12345 上山打老虎'
        //         }
        //     }
        // });
        // app.mount('#app');

    </script>
</body>
</html>