<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .colorBox {
            border: 1px solid #000;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin: 5px;
            position: relative;
        }
        .disabledBtn {
            background-color: #f00;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>{{ title }} -- {{showColorName}}</h2>
        <img :src="img">
        <div>
            <span 
                v-for="(v,idx) in variants" 
                class="colorBox" 
                :style="{backgroundColor:v.color}"
                @click="changeIndex(idx)"
                ></span>
        </div>
        <div>
            剩餘數量: {{qty}}
        </div>
        <div>
            <span v-if="qty > 5">熱賣中</span>
            <span v-else-if="qty > 0">低庫存</span>
            <span v-else>缺貨捕貨中</span>
        </div>
        <div>
            產品說明
            <ul>
                <li v-for="d in desc">{{ d }}</li>
            </ul>
        </div>
        <div>
            注意事項
            <ul>
                <li v-for="n in notice">{{ n }}</li>
            </ul>
        </div>

        <button :disabled="!qty" :class="{disabledBtn: !qty}">加入購物車</button>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {  
                    title:'毛球針織帽-女',
                    // img: 'images/5050001_500.jpg',
                    notice:[
                        '※ 因拍攝燈光效果可能造成色差，請以實品顏色為準。',
                        '※ 深淺色衣物請分開洗滌；請勿長時間浸泡、濕放，以防染色。',
                        '※ 衣物洗滌和保養方式請參考商品洗標。'
                    ],
                    desc:[
                        '產地:中國',
                        '主布:棉60%、聚酯纖維40%',
                        '羅紋:棉58%、聚酯纖維38%、彈性纖維4%'
                    ],
                    variants: [
                        {
                            id: 5050001,
                            img: 'images/5050001_500.jpg',
                            qty: 2,
                            color: '#f8edba',
                            colorName: '杏色'
                        },
                        {
                            id: 5050002,
                            img: 'images/5050002_500.jpg',
                            qty:3,
                            color: '#d4a3a3',
                            colorName: '灰粉'
                        },
                        {
                            id: 5050003,
                            img: 'images/5050003_500.jpg',
                            qty: 8,
                            color: '#dfbc23',
                            colorName: '復古黃'
                        },
                        {
                            id: 5050004,
                            img: 'images/5050004_500.jpg',
                            qty: 0,
                            color: '#1a1a1a',
                            colorName: '深麻灰'
                        },
                        {
                            id: 5050005,
                            img: 'images/5050005_500.jpg',
                            qty: 2,
                            color: '#000000',
                            colorName: '黑色'
                        }
                    ],
                    selectedIndex:0,
                }
            },
            methods:{
                // changeColor(idx){
                //     console.log(this.variants[idx].img);
                //     this.img = this.variants[idx].img;
            
                // },
                changeIndex(idx){
                    this.selectedIndex = idx;
                }
            },
            computed:{
                currentIdx(){
                    return this.variants[this.selectedIndex]
                },
                img(){
                    return this.currentIdx.img;
                },
                qty(){
                    return this.currentIdx.qty;
                },
                showColorName(){
                    return this.currentIdx.colorName;
                }
            }
        }).mount('#app');
    </script>
</body>
</html>