<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="input"><button v-on:click="add()">新增</button>
        <ul>
            <li v-for="(todo,idx) in todos" v-on:click="del(idx)">
                {{todo.id}}--{{todo.title}}--{{todo.complete}} 
            </li>
        </ul>
    </div>    
    <script>
        const app = Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            title:'吃飯',
                            complete: false
                        },
                        {
                            id:2,
                            title:'睡覺',
                            complete: false
                        },
                        {
                            id:3,
                            title:'打咚咚',
                            complete: false
                        },
                    ]
                }
            },
            methods:{
                add(){  
                    if(this.input === ''){
                        alert('請輸入資料!!');
                        return 
                    }
                    this.todos.push({
                        id: Date.now(),
                        title: this.input,
                        complete: false
                    });
                    this.input = '';
                },
                del(idx){
                    // console.log(idx)
                    this.todos.splice(idx,1);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>