<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div v-for="(value,key,idx) in w">
            <template v-if="key === 'weather'">
                <h2>今日天氣 {{value[0].description}}</h2>
                <img :src="`http://openweathermap.org/img/wn/${value[0].icon}@2x.png`" alt="">
            </template>
            <template v-if="key === 'main'">
                <div>平均溫度 {{value.temp}}&deg;C</div>
                <div>體感溫度 {{value.feels_like}}&deg;C</div>
                <div>最高溫 {{value.temp_max}}&deg;C</div>
                <div>最低溫 {{value.temp_min}}&deg;C</div>
            </template>
        </div>
    </div>
    <script>
        const app=Vue.createApp({
            data(){
                return {
                    w:[]
                }
            },
            mounted(){
                fetch('https://api.openweathermap.org/data/2.5/weather?q=bangkok&appid=b1ecbccd638b763d489602917ba47cc3&units=metric&lang=zh_tw')
                // fetch('weather.json')
                .then(res => res.json())
                .then( data => {
                    this.w = data;
                    console.log(data);
                })
            },
        }).mount('#app')
    </script>
</body>
</html>